/*--Navbar Footer and Wordmark--*/
.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
}

.center .navbar-inner, h3.center {
    text-align:center;
}

#footer {
	margin-bottom:0px;
}

#wordmark {
	font-size:80pt;
	margin-top:15px;
	height:54px;
}

#wordmark-container {
	background-color: #9bc72a;
}

/*----Backgrounds----*/
#background-home {
	background-image: url('../assets/line1.svg');
}

#background-photos {
	background-image: url('../assets/bgMeeting.png'), url('../assets/line3.svg');
	background-position: 100% 3%, 0% 45%;
}

#background-links {
	background-image: url('../assets/bgLinks.png'), url('../assets/line3.svg');
	background-position: -5% 0%, 0% -10%;
}

#background-meeting {
	background-image: url('../assets/bgPhotos.png'), url('../assets/line2.svg');
	background-position: 100% 20%;
}

#background-login {
	background-image: url('../assets/bgLogin.jpg')
}

#backdrop-home {
	display: block;
}

.background {
	padding-top:10px;	
	background-repeat: no-repeat;
	min-height: 775px;
}

/*--Login Page--*/
#login {
	position:absolute;
	width:541px;
	height:88px;
	top:50%;
	left:50%;
	margin-top:-44px;
	margin-left:-270px;
}

/*--Paragraphs on Home Page--*/
#intro-home {
	top: 0px;
	left: -20px;
}

#p2-home {
	top:10px;
	left: 400px;
}

#p3-home {
	top:340px;
	left:-20px;
}

#p4-home {
	top:360px;
	left:660px;
}
/*--End Text Home Page--*/

.intro {
	position: absolute;
	text-align: justify;
}

.dl-horizontal dt {
  float: left;
  width: 150px;
  overflow: hidden;
  clear: left;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 160px;
}

.dl-horizontal dd, dt {
  padding-top: 1px;
}

#intro-pagename {
	position: relative;
	top: -550px;
}

/*----Members----*/
#new-member-info textarea {
	resize:vertical;
}

.headshot-control {
	position:absolute;
	left:34px;
	bottom:-33px;
}

#headshot-input {
	width:77px;
	margin-bottom:0px;
}

#headshot-standin {
	height: 180px;
}

.actionshot-control {
	position: absolute;
	left:108px;
	bottom:-33px;
}

#actionshot-input {
	width:84px;
}

#actionshot-standin {
	height: 180px;
}

.name-input {
	width:47%;
	margin-bottom: 5px;
}

#profile {
	width:97%;
}

#preview-actionshot {
	max-height:180px;
	max-width:290px;
}

#preview-headshot {
	max-height:180px;
	max-width:130px;
}

/*----Photos----*/
#gallery {
	position: relative;
	top: 20px;
	margin-left: 0px;
	height: 471px; 		/*This corresponds to 4 times the height of one row*/
}

.arrow {
	position: absolute;
	width: 50px;
	height:497px;
	background-repeat:no-repeat;
	background-position: 0px;
}

#left-arrow {
	background-image: url('../assets/LeftArrow.svg');
	left:-80px;	
}

#left-arrow:hover {
	background-position:-50px;
}

#right-arrow {
	background-image: url('../assets/RightArrow.svg');
	right: 210px;
}

#right-arrow:hover {
	background-position: -50px;
}

.upload-photos-control {
	position:absolute;
	left:0%;
	top:50%;
}

#upload-photos-input {
	width:108px;
}

/*----Multi-use Utility classes----*/
@font-face {
	font-family: 'BirthOfAHero';
	src: url('../fonts/BirthOfAHero.ttf') format('truetype');
}

.hero-font {
	font-family: BirthOfAHero;
}

.pagename {
	font-size:40pt;
}

.absolute-children {
	/*Forces absolutely positioned child elements to be 
	positioned relative to first parent of this class*/
	position: relative;
}

.drop-cap {
	display: inline;
}

.justify {
	text-align: justify;
}

.full-width {
	width:100%;
}

.four-fifths-width {
	width:80%;
}

.pad-bottom {
	padding-bottom:10px;
}

.pad-right {
	padding-right:25px;
}

.pad-left {
	padding-left:25px;
}

.pad-top {
	padding-top:25px;
}

.center-vertically {
	display: table-cell;
	vertical-align: middle;
}

div.center, img.center {
	margin-right:auto;
	margin-left:auto;
}

.masked-file-input {
	margin-bottom:0;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
	z-index: 2;
}